<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image.png" href="../static/img/logo.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Optimizer UHR</title>
</head>
<body>
    <aside id='header'>
        <section class="profile">
            <img src="../static/img/logo.png" alt="Logo do APP">
            <h1>Optimizer UHR</h1>
        </section>

        <nav id='navbar' class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item"><a class="nav-link" aria-current="page" href="#inicio"><i class="bi bi-house" aria-hidden="true"></i> Início</a>
                </li>
                <li class="nav-item"><a class="nav-link" aria-current="page" href="#dataset"><i class="bi bi-database" aria-hidden="true"></i> Dataset</a>
                </li>
            </ul>
        </nav>
    </aside>

    <main id="main">

        <section id="inicio" class="row m-0 p-0">

            <h1 class="d-flex justify-content-center">Optimizer UHR</h1>

            <div class="d-flex justify-content-left align-items-top flex-column">
                <h3>Sobre</h3>
                <p>A ferramenta "Optimizer UHR" simula e otimiza a operação de Usinas Hidrelétricas Reversíveis
                    (UHR). A modelagem representa a operação da UHR no SIN, com comercialização da energia no
                    Ambiente de Contratação Livre (ACL) e no Mercado de Curto Prazo (MCP), leva em consideração
                    a individualização das máquinas da UHR, e discretização horária para o planejamento da operação
                    diária. A função objetivo e as restrições são representadas através de relações matemáticas
                    lineares, que caracterizam um problema de programação linear inteira mista, já que algumas das
                    variáveis de decisão são inteiras, e outras contínuas.
                </p>
            </div>

            <div class="d-flex justify-content-center">
                <img class="img-fluid shadow" src="../static/img/conceito_da_ferramenta.png" alt="conceito da ferramenta">
            </div>

            <div class="d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down pe-2 fs-2" aria-hidden="true"></i>
                    <a href="#dataset">Dataset</a>
                </div>
            </div>

        </section>

        <section id="dataset" class="container mt-5">

            <div class="row w-100">
                <div class="col-md-12" data-anime="down">
                    <h1 class="d-flex justify-content-center">Dataset</h1>
                    <p>O modelo precisa ser alimentado com os dados de previsão para um dia em escala horária
                        da afluência nos reservatórios da UHR e do preço de energia no MCP, PLD.</p>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-5">
                    <h3>Exemplo de Carregamento do Dataset</h3>
                    <p>O dataset precisa ser carregado em arquivo no formato .csv e seguindo o padrão da imagem abaixo.</p>
                    <img class="img-fluid shadow" src="../static/img/st.PNG" alt="Exemplo de Dataset" data-anime="left">
                </div>
                <div class="col-md-7" data-anime="right">
                    <h3>Variáveis de Entrada</h3>
                    <p>As variáveis de entrada estabelecem as condições de contorno do problema. O usuário as define
                        nos campos da  seção "Parâmetros de Entrada". Os valores referentes aos custos de O&M, de partida
                        e parada são previamente definidos.</p>
                    <div>
                        <strong>
                            Custo de O&M = 8,00 R$/MWh
                        </strong>
                    </div>
                    <div>
                        <strong>
                            Custo de partida e parada = R$ 1.000,00
                        </strong>
                    </div>
                    <form action="" method="post" enctype="multipart/form-data" class="container">
                        <div class="form-group mt-4">
                            <label for="database_file"><h5>Dataset com Séries Temporais:</h5></label><br>
                            <input type="file" class="form-control-file" name="database_file">
                        </div>
                        <div class="row mt-4">
                            <h5>Parâmetros de Entrada:</h5>
                            <div class="form-group">
                                <label for="param1">Volume Inicial do Reservatório Superior (hm³):</label>
                                <input type="number" step="0.001" class="form-control" name="param1">
                            </div>
                            <div class="form-group">
                                <label for="param2">Volume Inicial do Reservatório Inferior (hm³):</label>
                                <input type="number" step="0.001" class="form-control" name="param2">
                            </div>
                            <div class="form-group">
                                <label for="param3">Volume Final do Reservatório Superior (hm³):</label>
                                <input type="number" step="0.001" class="form-control" name="param3">
                            </div>
                            <div class="form-group">
                                <label for="param4">Volume Final do Reservatório Inferior (hm³):</label>
                                <input type="number" step="0.001" class="form-control" name="param4">
                            </div>
                            <div class="form-group">
                                <label for="param5">Volume Máximo do Reservatório Superior (hm³):</label>
                                <input type="number" step="0.001" class="form-control" name="param5">
                            </div>
                            <div class="form-group">
                                <label for="param7">Volume Máximo do Reservatório Inferior (hm³):</label>
                                <input type="number" step="0.001" class="form-control" name="param7">
                            </div>
                            <div class="form-group">
                                <label for="param11">Vazão Máxima da Turbina Reversível (m³/s):</label>
                                <input type="number" step="0.001" class="form-control" name="param11">
                            </div>
                            <div class="form-group">
                                <label for="param13">Vazão Mínima da Turbina Reversível (m³/s):</label>
                                <input type="number" step="0.001" class="form-control" name="param13">
                            </div>
                            <div class="form-group">
                                <label for="param15">Rendimento em Modo Turbina (0 a 1):</label>
                                <input type="number" step="0.001" class="form-control" name="param15">
                            </div>
                            <div class="form-group">
                                <label for="param16">Rendimento em Modo Bomba (0 a 1):</label>
                                <input type="number" step="0.001" class="form-control" name="param16">
                            </div>
                            <div class="form-group">
                                <label for="param17">Rampa Subida/Descida da Turbina R. (0 a 1):</label>
                                <input type="number" step="0.001" class="form-control" name="param17">
                            </div>
                            <div class="form-group">
                                <label for="param18">Montante Contratado no ACL (MWmédio):</label>
                                <input type="number" step="0.001" class="form-control" name="param18">
                            </div>
                            <div class="form-group">
                                <label for="param19">Preço Contratado no ACL (R$/MWh):</label>
                                <input type="number" step="0.001" class="form-control" name="param19">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success m-3">Executar Otimização</button>
                    </form>
                </div>
            </div>

        </section>

    </main>

    <script scr="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script scr="../static/script.js"></script>
</body>
</html>